#book-form{
     font-size: 2rem;
     font-weight: bold;
    
}
body{
    text-align: center;
    margin-left: 22rem;
    font-size: large;
    width: 60rem;
    border: solid black;
    padding: 4rem;
}

.heading{
    /* display: flex; */
    margin: 4rem;
}

.heading div{
    flex: 1;
}
#submit-btn{
    width: 40rem;
    border: solid black;
}
small{
    font-weight: 100;
    font-size: smaller;
    color: red;
}
.container{
    margin-top: 2rem;
    margin-bottom: 8rem;
}
.read{
    text-decoration: solid;
}